//header
$header-height: 5rem;
// $header-color: #212121;
$header-color: green;
$header-text: #fff;
$header-mobile-color : red;  
//footer
$footer-height: 5rem;
$footer-color: green;
$footer-text: #fff;

//body
$body-color: #212121;
$body-text: #fff;

//page setting
//works
$works-body-color: #fff;
$works-body-text: #212121;
//projects
$projects-body-color: #fff;
$projects-body-text: #212121;
//service
$service-body-color: #fff;
$service-body-text: #212121;

// $font-family: "Lato", "Open Sans", sans-serif;
$font-family: "游ゴシック Medium","Yu Gothic Medium","游ゴシック体",YuGothic,sans-serif;
// $font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
// $font-family: 'Space Mono',"rz-regular", "maison-neue-mono",'Space Mono', monospace, Helvetica, Arial, sans-serif;
// $font-family: arial,sans-serif;
// $body-font-size: 1rem;

// $font-size: 1.25em;
// $line-height: 1.66em;
// $font-size: 62.5%;
$font-size: 16px;
$line-height: 16px;

//link
$link-color: #fff;
$hover-color:   #212121;


$nav-link-color: rgb(256, 256, 256);
$nav-hover-color:   rgb(0,0,0);
$nav_bg:  #D6372E;
// $nav_bg:  #1d244b;


//main-contents
$main-contents-color: #fff;
$main-contents-text: #000;

//footer-color
$footer-color-color: rgb(1, 22, 49);
$footer-color-text: #fff;

// $base-text-color: #fff;
// $bg-color: #212121;
$base-text-color: #212121;
$bg-color: #fff;

$black-base-text-color: #fff;
$black-bg-color: #212121; 
$white-base-text-color: #212121;
$white-bg-color: #fff; 






// Media Query Ranges
// $small-screen-up: 601px !default;
// $medium-screen-up: 993px !default;
// $large-screen-up: 1201px !default;
// $small-screen: 600px !default;
// $medium-screen: 992px !default;
// $large-screen: 1200px !default;
// $sidenav-breakpoint: 1440px !default;

// $medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
// $large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
// $small-and-down: "only screen and (max-width : #{$small-screen})" !default;
// $medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
// $medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;
// $hide-sidenav: "only screen and (max-width : #{$sidenav-breakpoint})" !default;









//navbar
$nav_svg_logo_bg: red;
$nav_svg_logo_text:  #fff;
$nav_bg_color:  rgb(116, 116, 116);

// menu 
$nav_icon: #fff;
$nav_icon_exp: #fff;
$svg_mask_fill: #D6372E;

//main contents 
$port_page_before:#253069;

//img size
$img-width-size: 1280px;
$img-height-size: 800px;




